.register-form-section {
    position: relative;
    max-width: 300px;
    margin: 3.5rem auto 3rem;
}

.login-form-section {
    max-width: 300px;
    margin: 15vh auto;
}


.form-header {
    margin-bottom: 1rem;

}

.form-redirect {
    display: block;
    margin: 0.8rem 0 0;
    text-align: center;
    font-size: 0.9rem;
    /* font-weight: 600; */
    color: var(--theme-accent-color);
}

.legend-label {
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

.form-input-wrapper label {
    font-size: 13.5px;
    font-weight: 500;
    margin: 0 0 0.6rem;
    color: var(--theme-color-gray-2);
}

.form-input {
    background-color: var(--theme-input-background) !important;
    border: 0 !important;
    margin-bottom: 0.4rem;
    font-size: 13.5px !important;
}

.form-input:focus {
    background-color: var(--theme-input-background-2) !important;
}

.form-input.error {
    outline: 0.1rem solid var(--theme-color-danger);
    background-color: var(--theme-color-danger-light) !important;
}

.form-input-error {
    display: flex;
    font-size: 0.9rem;
    border-radius: var(--theme-input-border-radius);
    margin: 0.7rem 0;
    padding: 0.6rem 0.8rem;
    color: var(--theme-color-danger);
    background-color: var(--theme-color-danger-light);
    align-items: center;
}

.form-input-error-icon {
    font-size: 1.2rem;
    color: var(--theme-color-danger);
}

.form-input-error-message {
    display: block;
    font-size: 0.9rem;
    margin: 0 0.6rem;
    flex: 1 1 0;
    line-height: 1.1rem;
}

.form-input-error-dismiss-wrapper {
    cursor: pointer;
    color: #fff;
    background-color: var(--theme-color-gray-light);
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 0.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-error-dismiss-wrapper:hover {
    background-color: var(--theme-color-gray-light-2);
}

.form-input-error-dismiss-icon {
    width: 0.5rem;
}

.form-field-input-error {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--theme-color-danger);
}

.form-footer {
    display: block;
    line-height: 1rem;
    margin: 1.5rem 0 0.8rem;
    font-size: 0.82rem;
    color: var(--theme-color-gray);
}

.full-button {
    width: 100%;
    margin: 0 0 0.6rem;
}

.full-button:hover {
    background-color: var(--theme-accent-color-2);
}

.password-input-container {
    position: relative;
}

.password-input-container input {
    width: 100%;
    box-sizing: border-box;
}

.password-input-icons {
    cursor: pointer;
    padding: var(--theme-input-padding);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--theme-accent-color);
    /* font-size: 13.5px; */
}

